@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0.5rem 5rem;
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.5);
  background: black;
}
.navbar .navbar-brand {
  font-size: 25px;
  font-weight: 800;
  color: #e84118 !important;
}
#navbarSupportedContent a {
  color: #fff;
  border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover {
  border-bottom: 2px solid #e84118;
}
section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ********home ********/
#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(bg/hay.jfif);
  background-size: cover;
  background-position: center;
  flex-direction: column;
}
#home h1 {
  font-size: 100px;
  color: white;
  letter-spacing: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0px 1px 0px #ccc, 0px 2px 0px #ccc, 0px 3px 0px #ccc, 0px 4px 0px #ccc, 0px 5px 0px #ccc, 0px 6px 0px #ccc, 0px 7px 0px #ccc;
}
#home p {
  font-size: 18px;
  color: #ffff;
}
#home .input-group {
  width: 40%;
  height: 45px;
}
.sgnini {
  background: hsl(12, 82%, 50%) !important;
  color: white !important;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}
/*****About****/
#About {
  background: linear-gradient(to right, #921313, #e6b926 100%);
}
#About h1 {
  font-weight: 800;
  font-size: 50px;
  color: white;
}
#About p {
  color: white;
}
/******products****/
#product {
  background: #e5e5e5;
}

#product {
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 700;
}
#product img {
  width: 200px;
  height: 200px;
}
.card {
  width: 250px;
  height: 300px;
  background: #e5e5e5 !important;
  border: none !important;
  box-shadow: 15px 20px 15px rgba(0, 0, 0, 0.3), inset 4px 4px 10px white;
  border-radius: 20px !important;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 20px 60px;
  transition: 0.2s;
}
.card:hover {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3), inset -4px -4px 10px white;
  transition: 0.2s;
}
/****contacts**/
